# MariaDB Connection (externer Host)
DB_HOST=maria-db-server.domain.local
DB_PORT=3306
DB_NAME=focusapp
DB_USER=focusapp
DB_PASSWORD=change-password

# MariaDB Root (fuer init-db.sh)
DB_ROOT_PASSWORD=change-root-password
